body {
  margin: 0;
  padding: 0; }

.app {
  display: grid;
  grid-column: auto;
  justify-content: center; }
  .app .header {
    display: flex;
    justify-content: center;
    align-items: center; }
  .app .title {
    display: flex;
    justify-content: center;
    align-items: center; }
  .app #button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #32a9be;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer; }
    .app #button .btn-content {
      color: white;
      transition-duration: .3s; }
      .app #button .btn-content:hover {
        transition-duration: .3s;
        transform: scale(1.05); }
    .app #button:hover .btn-content {
      transition-duration: .3s;
      transform: scale(1.05); }
